<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join student</title>
</head>
<body>
<form method="post">
    <label>Enter name</label>
    <input type="text" name="first_name" required placeholder="enter name">
    <label>Enter last name</label>
    <input type="text" name="last_name" required placeholder="enter last name">
    <label>Enter age</label>
    <input type="text" name="age" required placeholder="enter age">
    <button type="submit">Send</button>
</form>
</body>
</html>